<h2>
    Events
    <a ui-sref="event.create" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add</span>
	</a>
</h2>

<table class="table clickable-table">
    <thead>
        <tr>
            <th>Event</th>
            <th><span class="glyphicon glyphicon-hourglass"></span> <span class="hide-when-small">Hours</span> </th>
            <th><span class="glyphicon glyphicon-calendar"></span> <span class="hide-when-small">Date</span> </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events | orderBy: '-date'" ui-sref="event.edit({eventID: '{{event._id}}' })">
            <td>{{event.name}}</td>
            <td>{{event.hours}}</td>
            <td>{{event.date | date : 'EEE, MMM, d'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <td><strong>Total Hours:</strong></td>
        <td><strong></strong>{{findTotal()}}</td>
        <td></td>
    </tfoot>
</table>

<h2>
    Upcoming Events
    <a ng-if="user.admin" ui-sref="uevent.create" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hide-when-small">Add</span>
    </a>
</h2>

<table class="table uevent-table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in upcoming | limitTo:25 | filter: { eventOver: false }">
            <td>
                <div>
                    <b>{{event.name}}
                        <a class="edit" ng-if="user.admin" ui-sref="uevent.edit({ ueventID: '{{event._id}}' })">
                            Edit
                        </a>
                    </b>
					<div class="time-info">
						<span><b>Location</b> {{event.location}} </span>
					</div>
                    <div class="time-info">
                        <span><b>Time</b> {{event.timeStart}} – {{event.timeEnd}}</span>
                    </div>
                    <div class="description" ng-bind-html="event.htmlDescription"></div>
                </div>
            </td>
            <td>{{event.date | date : 'EEEE, MMM, d'}}</td>
        </tr>
    </tbody>
</table>
