<h2>
    Events
    <a ui-sref="event.create" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add
	</a>
</h2>

<table class="table event-table">
    <thead>
        <tr>
            <th>Event</th>
            <th><span class="glyphicon glyphicon-hourglass"></span> Hours</th>
            <th><span class="glyphicon glyphicon-calendar"></span> Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events" ui-sref="event.edit({eventID: '{{event._id}}' })">
            <td>{{event.name}}</td>
            <td>{{event.hours}}</td>
            <td>{{event.date | date : 'M/d'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <td><strong>Total Hours:</strong></td>
        <td><strong></strong>{{findTotal()}}</td>
        <td></td>
    </tfoot>
</table>

<h2>
    Upcoming Events
    <a ng-if="user.admin" ui-sref="uevent.create" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add
    </a>
</h2>

<table class="table uevent-table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in upcoming">
            <td>
                <div>
                    <b>{{event.name}}</b>
					<div class="time-info">
						<span><b>Date</b> {{event.date | date : 'EEE, MMM, d'}}</span>
					</div>
                    <div class="time-info">
                        <span><b>Time</b> {{event.timeStart}} – {{event.timeEnd}}</span>
                    </div>
                    <div class="description">{{event.description}}</div>
                </div>
            </td>
            <td>{{event.location}}</td>
        </tr>
    </tbody>
</table>
