<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Hours</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events">
            <td>{{event.name}}</td>
            <td>{{event.hours}}</td>
            <td>{{event.date}}</td>
            <td><span class="glyphicon glyphicon-wrench" ui-sref="event.edit({eventID: '{{event._id}}' })"></span></td>
            <td></td>
        </tr>
    </tbody>
</table>

<h3>Total Hours: {{findTotal()}}</h3>

<pre>events = {{events | json}}</pre>
