<div class="row col-md-6 col-md-offset-3 login signup">
    <div class="col-sm-12">
        <img class="img-responsive" src="../images/nhs-logo.jpeg" />
    </div>

    <div class="login-main">
        <h1>Create Account</h1>
		<form ng-submit="signup()" name="signupForm">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" required class="form-control" ng-model="user.firstname">
			</div>

			<div class="form-group">
				<label>Last Name</label>
				<input type="text" required class="form-control" ng-model="user.lastname">
			</div>

			<div class="form-group">
				<label>Username</label>
				<input type="text" required class="form-control" name="username" ng-model="user.username">
			</div>
            <div class="invalid-message" ng-show="signupForm.username.usernameTaken">
                Username taken
            </div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" required class="form-control" ng-model="user.password">
			</div>
            <div class="invalid-message" ng-show="signupForm.confirmpassword.$invalid && !signupForm.confirmpassword.$pristine">
                Passwords don't match
            </div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" required class="form-control" ng-model-options="{debounce: 300}" compare-to="user.password" name="confirmpassword" ng-model="user.confirmpassword">
			</div>

			<button class="btn btn-block btn-primary" type="submit" ng-disabled="signupForm.$invalid">Signup</button>
		</form>
	</div>

</div>
