.login {
    margin-top: 50px;
}

.login img {
    margin: 0 auto;
    max-height: 120px;
}

.login.signup img {
	width: 69px;
}

.login .btn-link {
    margin-top: 5px;
}

body {
    padding-bottom: 6px;
}

.navbar {
    border-radius: 0;
	margin-bottom: 0;
}

.navbar .navbar-right li:last-child {
    cursor: pointer;
}

.navbar-header .navbar-brand svg {
    fill: #ddd;
}
.navbar-header .navbar-brand .glyphicon {
    top: -3px
}

.navbar-header .navbar-brand span.title {
    position: relative;
    top: -8px;
    margin-top: 2px;
    font-weight: bold;
    color: #ddd;
}

.clickable-table tbody tr {
    cursor: pointer;
}
.clickable-table tbody tr:hover, .clickable-table tbody tr:active {
    background: #333;
    color: #ddd;
}

.uevent-table .time-info {
    font-size: 12px;
}

.uevent-table .description {
    font-style: italic;
}

.uevent-table .edit span {
    margin-right: 3px;
}

.nhs-date-picker table {
	margin: 0px auto 10px auto;
}

.button-bar {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    padding: 10px;
}

div.has-button-bar {
    padding-bottom: 54px;
}

.ng-invalid.ng-touched {
    border-color: #d25656;
    background: #ffcfcf;
}

.invalid-message {
    margin-top: -14px;
    margin-bottom: 10px;
    color: #d25656;
}

@media screen and (max-width: 420px) {
    .uevent-table .description {
        max-height: 75px;
        overflow-y: auto;
        font-size: smaller;
        margin-right: -90px;
        margin-top: 4px;
    }
}

.filtertable {

}

.filtertable th .glyphicon{
    cursor: pointer;
}

.filtertable th .glyphicon.glyphicon-triangle-up{
    top: 3px;
    color: #9D9D98;
    left: 2px;
}
