.login {
    margin-top: 50px;
}

.login img {
    margin: 0 auto;
    max-height: 120px;
}

body {
    padding-bottom: 6px;
}

.navbar {
    border-radius: 0;
}

.navbar-header .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-header .navbar-brand svg {
    fill: #ddd;
}
.navbar-header .navbar-brand .glyphicon {
    top: -1px
}

.navbar-header .navbar-brand span.title {
    margin-top: 2px;
    margin-left: 5px;
    font-weight: bold;
    color: #ddd;
}

.event-table tbody tr {
    cursor: pointer;
}
.event-table tbody tr:hover, .event-table tbody tr:active {
    background: #333;
    color: #ddd;
}

.uevent-table .time-info {
    font-size: 12px;
}

.uevent-table .description {
    font-style: italic;
}
