<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NHS</title>
        <link href="lib/css/bootstrap.css" rel="stylesheet">
    </head>
    <body ng-app="nhs" ng-controller="mainController">
        <header>
        	<div class="navbar navbar-inverse" ng-if="loggedIn">
            	<div class="container">
            		<div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            			<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-pushpin"></span> HH NHS</a>
            		</div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-if="!loggedIn"><a href="/login">Login</a></li>
                            <li ng-if="loggedIn" class="navbar-text">Hello {{ user.username }}!</li>
                            <li ng-if="loggedIn"><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
            	</div>
        	</div>
        </header>


        <main class="container">
            <div ui-view></div>
        </main>
        <script src="lib/js/jquery.js"></script>
        <script src="lib/js/bootstrap.js"></script>
        <script src="lib/js/angular.js"></script>
        <script src="lib/js/angular-ui-router.js"></script>
        <script src="app.js"></script>
        <script src="app.routes.js"></script>
        <script src="services/auth.js"></script>
        <script src="services/users.js"></script>
        <script src="services/community-service.js"></script>
        <script src="controllers/main.js"></script>
        <script src="controllers/events.js"></script>
        <script src="controllers/users.js"></script>
        <script src="controllers/add-event.js"></script>

    </body>
</html>
